*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.nav-bar{
    border:1px solid black;
    height:4rem;
    display: flex;
    justify-content: space-between;
    padding:0 2rem;
}
.logo-and-text-container{
    border:1px solid red;
    height:100%;
    width:20%;
    display:flex;
    align-items: center;
    gap:10px;
}
.theme-container{
    border:1px solid blue;
    height:100%;
    width:22%;
    display:flex;
    align-items: center;
    justify-content: end;
}
.logo-image{
    border:1px solid green;
    height:100%;
    width:30%;
    border-radius:50%;
    

    img{
        height:100%;
        width:100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.theme-icon{
    border:1px solid green;
    height:100%;
    width:30%;
    display:flex;
    align-items:center;

    i{
        font-size:2rem;
        cursor: pointer;
    }
}

.recipes-container{
    border:2px solid red;
    min-height:100vh;
    margin-top:1rem;
}

.search-and-sort-by-container{
    border:1px solid black;
    height:3rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* responsive design */
@media screen and (min-width:375px){

    .nav-bar{
        gap:10px;
    }

    .logo-and-text-container{
        width:50%;
    }
    .logo-image{
        width:30%;
    }

    .theme-container{
        width:50%;
        padding-left:2rem;
    }
    .theme-icon{
        display: flex;
        align-items: center;
        i{
            font-size:2rem;
        }
    }
}

@media screen and (min-width:768px) {
    .theme-icon{
        width:10%;
    }
    .theme-container{
        width:40%;
        display:flex;
        justify-content: end;
        gap:7px;
    }    
}

@media screen and (min-width:1024px){
    .theme-container{
        width:22%;
        gap:10px;
    }
    .logo-and-text-container{
        width:27%;
    }
}